.sidebar__chats {
  padding: 10px;
  background-color: white;
  height: 100%;
}
.sidebar__chat {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}
.sidebar__chatInfo {
  flex: 1;
}
.sidebar__chatInfo h4 {
  margin-bottom: 5px;
}
